md-radio-button {
  display: block;
}
.radio-group-holder {
  clear: left;
  float: left;
  width: 5%;
}
label {
  clear: left;
  float: left;
}
.input-holder {
  float: left;
  width: 95%;
}
md-select {
  width: 100%;
}
