<h1>New Scrobble</h1>
<div class="form-group">
  <label for="artist">Artist</label>
  <input
    type="text"
    class="form-control"
    name="artist"
    [(ngModel)]="artist"
    required
  />
</div>
<button
  type="button"
  class="btn btn-success"
  [disabled]="!artist"
  (click)="loadReleaseGroups(0)"
>
  Search Albums
</button>
<div class="form-group">
  <label for="album">Album</label>
  <div class="radio-group-holder">
    <mat-radio-group [(ngModel)]="selectionType">
      <mat-radio-button value="write"></mat-radio-button>
      <mat-radio-button value="select"></mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="input-holder">
    <input
      type="text"
      class="form-control"
      name="album"
      [(ngModel)]="album"
      [disabled]="selectionType != 'write'"
    />
    <mat-select
      placeholder="Album"
      [(ngModel)]="albumSelect"
      name="album"
      [disabled]="selectionType != 'select'"
      (change)="onSelectedAlbumChange()"
    >
      <mat-option
        *ngFor="let album of albumsForUpdate"
        [value]="album"
        [class.valid-album]="album.valid"
      >
        {{ album.title }}
      </mat-option>
    </mat-select>
    <mat-checkbox [(ngModel)]="wholeAlbum" aria-label="Scrobble whole album?">
      Scrobble whole album?
    </mat-checkbox>
  </div>
</div>
<div class="form-group">
  <label for="track">Track</label>
  <div class="radio-group-holder">
    <mat-radio-group [(ngModel)]="selectionTypeTrack">
      <mat-radio-button
        value="write"
        [disabled]="wholeAlbum"
      ></mat-radio-button>
      <mat-radio-button
        value="select"
        [disabled]="wholeAlbum"
      ></mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="input-holder">
    <input
      type="text"
      class="form-control"
      name="track"
      [(ngModel)]="track"
      [disabled]="selectionTypeTrack != 'write'"
    />
    <mat-select
      placeholder="Track"
      [(ngModel)]="trackSelect"
      name="track"
      [disabled]="selectionTypeTrack != 'select'"
      (change)="onSelectTrackChange()"
    >
      <mat-option
        *ngFor="let track of tracksForUpdate"
        [value]="track"
        [class.valid-album]="track.valid"
      >
        {{ track.title }}
      </mat-option>
    </mat-select>
  </div>
</div>
<div class="form-group">
  <label for="datetime">DateTime</label>
  <input
    *ngIf="!datetimeAfter"
    type="datetime-local"
    class="form-control"
    name="datetime"
    [(ngModel)]="datetime"
  />
  <input
    *ngIf="datetimeAfter"
    type="text"
    class="form-control"
    [(ngModel)]="datetimeAfterText"
    [disabled]="true"
  />
</div>
<button type="submit" class="btn btn-success" (click)="onSubmit()">
  Scrobble
</button>
