<mat-card *ngIf="albumInfo" id="album-info" [@isVisibleChanged]="imageStatus">
  <mat-card-header>
    <h1>{{ artistName }} - {{ albumName }}</h1>
  </mat-card-header>
  <mat-card-content>
    <h3 *ngIf="correctRelease">Released On: {{ correctRelease.date }}</h3>
    <div *ngIf="albumInfo.wiki" [innerHTML]="albumInfo.wiki.summary"></div>
    <mat-list>
      <h2 mat-header>Stats</h2>
      <mat-list-item> Listeners: {{ albumInfo.listeners }} </mat-list-item>
      <mat-list-item>
        Total Playcount: {{ albumInfo.playcount }}
      </mat-list-item>
      <mat-list-item>
        User Playcount: {{ albumInfo.userplaycount }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<div *ngIf="albumInfo" id="tags-tracks" [@isVisibleChanged]="imageStatus">
  <mat-card id="list-tags">
    <mat-card-header> <h2>Tags</h2> </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let tag of albumInfo.tags.tag">{{
          tag.name
        }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card id="list-tracks">
    <mat-card-header> <h2>Tracklist</h2> </mat-card-header>
    <mat-card-content *ngIf="correctRelease">
      <mat-list *ngFor="let media of correctRelease.media">
        <h3>{{ media.position }} - {{ media.format }}</h3>
        <mat-list-item *ngFor="let track of media.tracks"
          >{{ track.number }}. {{ track.title }}
          {{ getStringDuration(track.length / 1000) }}</mat-list-item
        >
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<img
  *ngIf="albumInfo"
  id="album-background"
  [src]="albumInfo.image[4]['#text']"
  (mouseover)="imageHovered()"
  (mouseleave)="imageLeft()"
  [class.not-blurred]="imageStatus == 'shown'"
  [class.blurred]="imageStatus == 'hidden'"
/>
