.artistImageTitle {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px;
  position: absolute;
  top: 0;
}
.artistPlaycount {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
  color: white;
  text-align: left;
  padding: 7.5px;
  position: absolute;
  bottom: 0;
  margin-left: 5px;
}
.restOfArtistPlaycount {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
  color: white;
  text-align: left;
  position: absolute;
  bottom: 0;
  margin-left: 5px;
  font-size: 0.8em;
  padding: 5px;
}
.restOfArtistImageTitle {
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 0;
  font-size: 1em;
}
#artistDateRange {
  float: right;
}

#listRestOfArtists {
  margin-top: 50px;
}
#filter-buttons {
  position: fixed;
  width: calc(100% - 48px);
  top: 100px;
  left: 24px;
  background-color: #fff;
  z-index: 1000;
}

#spinner_holder {
  position: fixed;
  left: calc(50% - 24px);
  top: 0;
  width: 80px;
  height: 80px;
  z-index: 1000;
}
#list-artists {
  margin-top: 150px;
}
#scroll-helper {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  height: 1px;
  width: 100%;
}
