<md-card id="artist-info" *ngIf="artistInfo" [@isVisibleChanged]="imageStatus">
  <md-card-header>
    <h1>{{ artistName }}</h1>
  </md-card-header>
  <md-card-content>
    <div *ngIf="artistInfo.bio" [innerHTML]="artistInfo.bio.summary"></div>
    <md-list>
      <h2 md-header>Stats</h2>
      <md-list-item> Listeners: {{ artistInfo.stats.listeners }} </md-list-item>
      <md-list-item>
        Total Playcount: {{ artistInfo.stats.playcount }}
      </md-list-item>
      <md-list-item>
        User Playcount: {{ artistInfo.stats.userplaycount }}
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<div id="left-side" [@isVisibleChanged]="imageStatus">
  <md-card id="list-user-albums" *ngIf="userAlbumStatistics">
    <md-card-header> <h2>User Albums</h2> </md-card-header>
    <md-card-content>
      <md-grid-list cols="4" gutterSize="0">
        <md-grid-tile
          *ngFor="let album of userAlbumStatistics"
          (click)="goToAlbum(album.name)"
          [colspan]="1"
          [rowspan]="1"
          [ngStyle]="{
            'background-image': 'url(' + album.imageURL + ')',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
            'background-position': 'center center'
          }"
        >
          <h2 class="album-imagetitle">{{ album.name }}</h2>
          <h3 class="album-playcount">{{ album.playcount }} scrobbles</h3>
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
  <md-card id="list-tags" *ngIf="artistInfo" (click)="move()">
    <md-card-header> <h2>Tags</h2> </md-card-header>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let tag of artistInfo.tags.tag">{{
          tag.name
        }}</md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card id="list-similar" *ngIf="artistInfo">
    <md-card-header> <h2>Similar Artists</h2> </md-card-header>
    <md-card-content>
      <md-grid-list cols="5" gutterSize="0">
        <md-grid-tile
          *ngFor="let artist of artistInfo.similar.artist; let i = index"
          (click)="goToArtist(artist.name)"
          [colspan]="1"
          [rowspan]="1"
          [ngStyle]="{
            'background-image': 'url(' + artist.image[4]['#text'] + ')',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
            'background-position': 'center center'
          }"
        >
          <h2 class="similar-artist-imagetitle">{{ artist.name }}</h2>
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
</div>
<div *ngIf="artistInfo" id="right-side" [@isVisibleChanged]="imageStatus">
  <md-card id="list-global-albums" *ngIf="globalAlbumStatistics">
    <md-card-header> <h2>Top Albums</h2> </md-card-header>
    <md-card-content>
      <md-grid-list cols="4" gutterSize="0">
        <md-grid-tile
          *ngFor="let album of globalAlbumStatistics"
          (click)="goToAlbum(album.name)"
          [colspan]="1"
          [rowspan]="1"
          [ngStyle]="{
            'background-image': 'url(' + album.imageURL + ')',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
            'background-position': 'center center'
          }"
        >
          <h2 class="album-imagetitle">{{ album.name }}</h2>
          <h3 class="album-playcount">{{ album.playcount }} scrobbles</h3>
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
</div>
<img
  *ngIf="artistInfo"
  id="artist-background"
  [src]="artistImageURL"
  (mouseover)="imageHovered()"
  (mouseleave)="imageLeft()"
  [class.not-blurred]="imageStatus == 'shown'"
  [class.blurred]="imageStatus == 'hidden'"
/>
