.oddDiv{
    background-color: #ffa591;
}
.evenDiv {
    background-color: #f98368;
}
#imgDetail{
    position: fixed;
    top: 84px;
    right: 32px;
    z-index: 1000;
}
#select-album{
    position: fixed;
    z-index: 2;
    right: 32px;
    top: 30px;
}
#select-album {
    width: 400px;
}
#new-album-written{
    width: 300px;
}
.selected.oddDiv{
    background-color: #aadd9b;
}
.selected.evenDiv{
    background-color: #6bc450;
}
.oddDiv.warning{
    background-color: #fcbe53;
}
.evenDiv.warning{
    background-color: #f9b134;
}
.oddDiv.error{
    background-color: #FC4141;
}
.evenDiv.error{
    background-color: #F52323;
}
.selected.oddDiv.warning{
    background-color: #aadd9b;
}
.selected.evenDiv.warning{
    background-color: #6bc450;
}
.selected.oddDiv.error{
    background-color: #aadd9b;
}
.selected.evenDiv.error{
    background-color: #6bc450;
}
#btnSave{
    position: fixed;
    z-index: 3;
    top: 100px;
    right: 20px;
}
.valid-album{
    color: #6bc450;
}
#spinner_holder{
    position: fixed;
    left: calc(50% - 24px);
    top: calc(50% - 24px - 100px);
    width: 100px;
    height: 100px;
    z-index: 1000;
}
#warning-container{
    position: fixed;
    top: 0;
    right: 12px;
    height: 100%;
    width: 20px;
    opacity: 0.3;
    background-color: blue;
    z-index: 2;
}
.warning-marker{
    position: fixed;
    right: 12px;
    height: 2px;
    width: 20px;
    background-color: #fcbe53;
    z-index: 3;
}
.error-marker{
    position: fixed;
    right: 12px;
    height: 2px;
    width: 20px;
    background-color: #ff0000;
    z-index: 3;
}
md-radio-button{
    display: block;
}
md-radio-button{
    margin: 5px;
}
#radio-group-holder{
    float: left;
}