<mat-card id="artist-info" *ngIf="artistInfo" [@isVisibleChanged]="imageStatus">
  <mat-card-header>
    <h1>{{ artistName }}</h1>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="artistInfo.bio" [innerHTML]="artistInfo.bio.summary"></div>
    <mat-list>
      <h2 mat-header>Stats</h2>
      <mat-list-item> Listeners: {{ artistInfo.stats.listeners }} </mat-list-item>
      <mat-list-item>
        Total Playcount: {{ artistInfo.stats.playcount }}
      </mat-list-item>
      <mat-list-item>
        User Playcount: {{ artistInfo.stats.userplaycount }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<div id="left-side" [@isVisibleChanged]="imageStatus">
  <mat-card id="list-user-albums" *ngIf="userAlbumStatistics">
    <mat-card-header> <h2>User Albums</h2> </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="4" gutterSize="0">
        <mat-grid-tile
          *ngFor="let album of userAlbumStatistics"
          (click)="goToAlbum(album.name)"
          [colspan]="1"
          [rowspan]="1"
          [ngStyle]="{
            'background-image': 'url(' + album.imageURL + ')',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
            'background-position': 'center center'
          }"
        >
          <h2 class="album-imagetitle">{{ album.name }}</h2>
          <h3 class="album-playcount">{{ album.playcount }} scrobbles</h3>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <mat-card id="list-tags" *ngIf="artistInfo" (click)="move()">
    <mat-card-header> <h2>Tags</h2> </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let tag of artistInfo.tags.tag">{{
          tag.name
        }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card id="list-similar" *ngIf="artistInfo">
    <mat-card-header> <h2>Similar Artists</h2> </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="5" gutterSize="0">
        <mat-grid-tile
          *ngFor="let artist of artistInfo.similar.artist; let i = index"
          (click)="goToArtist(artist.name)"
          [colspan]="1"
          [rowspan]="1"
          [ngStyle]="{
            'background-image': 'url(' + artist.image[4]['#text'] + ')',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
            'background-position': 'center center'
          }"
        >
          <h2 class="similar-artist-imagetitle">{{ artist.name }}</h2>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="artistInfo" id="right-side" [@isVisibleChanged]="imageStatus">
  <mat-card id="list-global-albums" *ngIf="globalAlbumStatistics">
    <mat-card-header> <h2>Top Albums</h2> </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="4" gutterSize="0">
        <mat-grid-tile
          *ngFor="let album of globalAlbumStatistics"
          (click)="goToAlbum(album.name)"
          [colspan]="1"
          [rowspan]="1"
          [ngStyle]="{
            'background-image': 'url(' + album.imageURL + ')',
            'background-size': 'cover',
            'background-repeat': 'no-repeat',
            'background-position': 'center center'
          }"
        >
          <h2 class="album-imagetitle">{{ album.name }}</h2>
          <h3 class="album-playcount">{{ album.playcount }} scrobbles</h3>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
<img
  *ngIf="artistInfo"
  id="artist-background"
  [src]="artistImageURL"
  (mouseover)="imageHovered()"
  (mouseleave)="imageLeft()"
  [class.not-blurred]="imageStatus == 'shown'"
  [class.blurred]="imageStatus == 'hidden'"
/>
