<img *ngIf="detailView" [src]="detailView" id="imgDetail" />
<mat-card id="select-album" *ngIf="albumsForUpdate">
  <div class="card-content-album-selection">
    <div id="radio-group-holder">
      <mat-radio-group [(ngModel)]="selectionType">
        <mat-radio-button value="select"></mat-radio-button>
        <mat-radio-button value="write"></mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-select
        class="album-select"
        placeholder="Album"
        [(ngModel)]="newAlbum"
        name="album"
        [disabled]="selectionType != 'select'"
      >
        <mat-option
          *ngFor="let album of albumsForUpdate"
          [value]="album"
          [class.valid-album]="album.valid"
        >
          {{ album.title }}
        </mat-option>
      </mat-select>
      <input
        type="text"
        class="form-control album-text"
        name="album"
        [(ngModel)]="newAlbumWritten"
        id="new-album-written"
        [disabled]="selectionType != 'write'"
      />
    </div>
  </div>
</mat-card>
<button
  mat-fab
  *ngIf="albumsForUpdate"
  [disabled]="
    !(
      (newAlbum && selectionType == 'select') ||
      (newAlbumWritten && selectionType == 'write')
    )
  "
  id="btnSave"
  (click)="scrobbleSelectedTracks()"
>
  <mat-icon>save</mat-icon>
</button>
<mat-grid-list cols="10" rowHeight="32px" id="listRecentTracks" gutterSize="0">
  <!--
    <div *ngFor="let track of recentTracks | artistfilter:selectedTrack; let i = index;" (click)="getAlbumsForSpecificTrack(track)">
  -->
  <div
    *ngFor="let track of recentTracks; let i = index"
    (click)="getAlbumsForSpecificTrack(track)"
  >
    <!-- <mat-grid-tile
      *ngIf="track.date"
      [colspan]="1"
      [rowspan]="2"
      [class.oddDiv]="isOdd(i)"
      [class.evenDiv]="!isOdd(i)"
      [class.selected]="track.selected"
      [class.warning]="conventionsWarning(track, i)"
      [class.error]="conventionsError(track, i)"
    >
      <button
        mat-raised-button
        (click)="
          stopPropagation($event); openDialogNewScrobbleBefore(track.date.uts)
        "
        class="btn_after"
      >
        Scrobble After
      </button>
    </mat-grid-tile> -->
    <mat-grid-tile
      *ngIf="track.date"
      [colspan]="1"
      [rowspan]="2"
      [class.oddDiv]="isOdd(i)"
      [class.evenDiv]="!isOdd(i)"
      [class.selected]="track.selected"
      [class.warning]="conventionsWarning(track, i)"
      [class.error]="conventionsError(track, i)"
    >
      <img
        class="album-image"
        [src]="track.image[1]['#text']"
        (mouseover)="imageFocused(track)"
        (mouseout)="imageUnfocused()"
        *ngIf="!track.selected"
      />
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="track.date"
      [colspan]="6"
      [rowspan]="1"
      [class.oddDiv]="isOdd(i)"
      [class.evenDiv]="!isOdd(i)"
      [class.selected]="track.selected"
      [class.warning]="conventionsWarning(track, i)"
      [class.error]="conventionsError(track, i)"
    >
      <p
        *ngIf="!track.selected"
        (click)="
          openDialogTrackinfo(
            track.artist['#text'],
            track.name,
            track.album['#text']
          );
          stopPropagation($event)
        "
        class="table-trackinfo-link"
      >
        {{ track.name }}
      </p>
      <mat-form-field
        *ngIf="track.selected"
        (click)="stopPropagation($event)"
        class="track-input"
      >
        <input matInput placeholder="Track" [(ngModel)]="track.name" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="track.date"
      [colspan]="3"
      [rowspan]="1"
      [class.oddDiv]="isOdd(i)"
      [class.evenDiv]="!isOdd(i)"
      [class.selected]="track.selected"
      [class.warning]="conventionsWarning(track, i)"
      [class.error]="conventionsError(track, i)"
    >
      <a
        *ngIf="!track.selected"
        (click)="stopPropagation($event)"
        href="album/{{ track.album['#text'] }}/{{ track.artist['#text'] }}"
        class="table-link"
        >{{ track.album['#text'] }}</a
      >
      <p *ngIf="track.selected && newAlbum">{{ newAlbum.name }}</p>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="track.date"
      [colspan]="6"
      [rowspan]="1"
      [class.oddDiv]="isOdd(i)"
      [class.evenDiv]="!isOdd(i)"
      [class.selected]="track.selected"
      [class.warning]="conventionsWarning(track, i)"
      [class.error]="conventionsError(track, i)"
    >
      <a
        *ngIf="!track.selected"
        (click)="stopPropagation($event)"
        href="artist/{{ track.artist['#text'] }}"
        class="table-link"
        >{{ track.artist['#text'] }}</a
      >
      <mat-form-field *ngIf="track.selected" (click)="stopPropagation($event)"
      class="artist-input">
        <input
          matInput
          placeholder="Artist"
          [(ngModel)]="track.artist['#text']"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      *ngIf="track.date"
      [colspan]="3"
      [rowspan]="1"
      [class.oddDiv]="isOdd(i)"
      [class.evenDiv]="!isOdd(i)"
      [class.selected]="track.selected"
      [class.warning]="conventionsWarning(track, i)"
      [class.error]="conventionsError(track, i)"
    >
      <p *ngIf="track.date" class="table-trackdate">
        {{ track.date['#text'] | date: 'medium' }}
      </p>
      <p *ngIf="!track.date" class="table-trackdate">now playing</p>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<div id="spinner_holder">
  <my-spinner [isRunning]="isRequesting"></my-spinner>
</div>
<!--
  <canvas id="warning-container">
  </canvas>
-->
<!--
  <div class="warning-marker" *ngFor="let warning of warnings" [style.top.px]="getPositionOfWarning(warning)">
  </div>
  <div class="error-marker" *ngFor="let error of errors" [style.top.px]="getPositionOfError(error)">
  </div>
-->
